@font-face {
  font-family: 'Quicksand';
  src: url(../fonts/Quicksand-VariableFont_wght.ttf);
  // font-family: 'QuicksandBold';
  // src: url(../fonts/static/Quicksand-Bold.ttf);
}

@import 'variables';
@import 'wrapper';
@import 'weatherInfo';
@import 'form';
@import 'weatherHourly';
@import 'weatherDetails';
@import 'navigation';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-family;
}

body{
  height: 812px;
  position: relative;
}

@media(min-height: 813px){
  body{
    height: 100vh;
  }
}