@font-face {
  font-family: 'Quicksand';
  src: url(../fonts/Quicksand-VariableFont_wght.ttf);
  // font-family: 'QuicksandBold';
  // src: url(../fonts/static/Quicksand-Bold.ttf);
}

@import 'variables';
@import 'wrapper';
@import 'weatherInfo';
@import 'form';
@import 'weatherHourly';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-family;
  min-height: 100vh;
}

